<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edmt.dev.androidgridlayout">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="MAIN"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="DEVICE DETAILS"
            android:name=".DeviceDetails">

        </activity>
        <activity
            android:label="TECHNICIANS LIST"
            android:name=".TechnicianList">


        </activity>
        <activity
            android:label="TECHNICIANS DETAILS"
            android:name=".TechnicianDetail"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        </activity>

        <activity
            android:label="SELECT TECHNICIANS"
            android:name=".SelectTechnician">

        </activity>
        <activity
            android:label="CART"
            android:name=".Cart">

        </activity>
    </application>

</manifest>